<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Próximos Eventos
  </h1>
</section>

<div class="clearfix"></div>
<!-- Main content -->
 <section class="content">

   <!-- row -->
   <div class="row">
     <div class="col-md-12">
       <%= render "events" %>
     </div>
     <!-- /.col -->
   </div>
   <!-- /.row -->

 </section>
 <!-- /.content -->
