<% @eventos.each do |evento| %>
	<div class="large-2 columns small-3">
		<div class="data">
			<p class="data_evento"><%= evento.data.day %></p><small><%= Date::MONTHNAMES[evento.data.month]%></small>
		</div>
	</div>
	<div class="large-10 columns">
		<p><strong><%= link_to evento.nome, evento %></strong><br/><%= evento.descricao %></p>
		<ul class="inline-list">
			<li><a href=""></a></li>
			<li><a href="">Share</a></li>
		</ul>
	</div>
<% end %>