<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Evento
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Evento</li>
    <li class="active"><%= @event.name %></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h1 class="box-title"><%= @event.name %></h1>
          <div class="box-tools pull-right">
            <% if admin_signed_in? %>
            <%= button_to "Deletar", {id: @event.id },
                method: :delete, data: { confirm: "Are you sure?" },
                class: "btn btn-block btn-danger btn-sm"%>
            <% end %>
          </div>
        </div>
        <div class="box-body">
          <%= @event.description.html_safe %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
