<h2>Sobre</h2>
<p>A Biotech Agenda, surgiu da necessidade de agrupar todos os eventos relacionados a Biotecnologia. Como temos eventos em várias cidades do Brasil, acaba sendo dificil ficar sabendo de todos, por isso qualquer pessoa e organizador pode divulgar o evento pelo Biotech Agenda.</p>
