<h2>Sobre</h2>
<div class="sobre">
<p>​<span>O </span><b>BiotechAgenda</b><span> surgiu com o intuito de agrupar todos os eventos </span><b>Brasileiros</b><span>, relacionados a Biotecnologia em um só lugar.&nbsp;</span></p><p><span>Se você esta organizando um evento e gostaria que o mesmo aparecesse em nossa listagem, clique em </span><b>“Novo Evento”</b><span> e preencha as informações. Caso saiba de algum evento que não consta em nosso site, pode adicioná-lo também, a ferramenta é livre a todos.&nbsp;</span></p><p><span>Tem interesse em contribuir para o projeto? Ele é </span><strong>open-source</strong> e esta hospedado no <b>GitHub</b>, esperamos sua contribuição. Qualquer feedback é muito bem vindo, fique a vontade para nos contactar pelo email, contato@biotechagenda.com.br</b></b></p></div>
</div>
