<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <%= image_tag "logo.png", class: "navbar-brand" %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          <li>
            <%= link_to calendar_index_path do %>
              <i class="fa fa-calendar"></i> <span>Calendário</span>
            <% end %>
          </li>
          <li>
            <%= link_to new_event_path do %>
              <i class="fa fa-calendar-plus-o"></i> <span>Adicionar Evento</span>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
